<!DOCTYPE html>
<html>
   <head>
      <title>QCodeDecoder - Camera using html5-qrcode</title>
   </head>
   <%- include('layouts/header'); -%>
   <!-- <body onload="renderResult(<%=PDA1PN%>);">  --> 
<body>
      <%- include('layouts/heading'); -%>
      <%- include('layouts/navbar'); -%>
      <textarea id="PDA1PN" hidden><%=typeof PDA1PN !== "undefined" ? JSON.stringify(PDA1PN) : ""%></textarea>
      <div class="main">
         <h1>Scan it</h1> 
         <div id="reader" width="600px" heigth="600px"></div>
         <input type="file" id="qr-input-file" accept="image/*">
         <button type="button" class="btn btn-outline-primary me-2" data-i18n-key="heading-login" onclick="convert()">Convert</button>
         <div class="PDA1result">
          <span style="text-align:center;margin-right:35%;font-weight:bold;font-size:2em;">Contents</span><span style="text-align:center;font-weight:bold;font-size:2em;">Result</span><br>          
          <textarea  rows='40'cols='80' style="margin-right:10%" id="qr-contents" name="qr-contents"></textarea> <textarea  rows='40'cols='80' id="qr-result" name="qr-result"></textarea> 
          
      </div>
      </div>
      
      
      <form id="QRCODEForm" action="/scanQRCode" method="POST" enctype="multipart/form-data">
        <textarea style="display:none;" id="decodedQRCode" name="decodedQRCode"></textarea>         
      </form>
      <script src="./js/html5-qrcode/html5-qrcode.min.js"></script>    
      <script src="./js/scanQRCode.js"></script>   
      <script>



      </script>
   </body>
</html>